# /.cpanel.yml
# /banner-light.png
# /edu.webp
# /exp.jpg
# /Farmeasy.jpg
# /image.jpg
# /images
# /images.jpg
# /info-img.jpg
# /inter.png
# /java.jpg
# /Javapng.png
# /launch.jpg
# /Mern.jpg
# /on-off.png
# /pythonpng.png
# /README.md
# /style.css
# /submit.php
# /surv.jpg
# /testpage.html